@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



body{
  background-color: #FFFAF1;
  color: black;
  font-family: Staatliches, cursive;
}

button {
  background-color: rgb(167, 58, 58);
  color: white;
  border-radius: 7px;
  font-family: Staatliches, cursive;
  padding: 10px 20px;
  margin: 3px;
  border:rgb(167, 58, 58);
  // box-shadow: -4px -3px 10px 5px rgba(203, 155, 155, 0.35);
}

button:hover {
  background-color: rgb(125, 12, 12)

}

img {
  width: 200px;
  
}

// .flavorProfileSelector {
//   padding: 20px;
//   color: green;
// }
// #flavorProfile {
//   padding: 0px 0px 0px 80px;
// }

.addSnackContainer {
  display: flex;  
  align-items:center;
}